<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "XHTML1-s.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {% block title %}
                {% if page_title %}{{ page_title }} -{% endif %}
                {{ site_name }}
            {% endblock %}
        </title>
        {% load static %}
        <meta name="keywords" content="{{ meta_keywords }}" />
        <meta name="description" content="{{ meta_description }}" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/19bd50dcdf.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'preview/demo/frame.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'preview/demo/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'preview/demo/content.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'preview/demo/navi.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'preview/demo/booklist.css' %}">
    </head>
    <body>
        {% block site_wrapper %}{% endblock %}
    </body>
</html>
