{% extends "demo/frame.html" %} 
{% block content %} 
  <div class="book-list-background">
  	<div class="bar-list">
  		<div class="search-frame">
  			<input class="search" type="text" name="" placeholder="tìm kiếm..">
  			<button class="btn-search"><i class="fas fa-search"></i></button>
  		</div>
  		<button class="add-book">
  			<i class="fas fa-plus"></i>
  			Add new book
  		</button>
  	</div>
  	<div class="list">
  		<table>
  			<thead>
  				<tr>
	  				<th>STT</th>
	  				<th>Name</th>
	  				<th>Remain</th>
	  				<th>Author</th>
	  			</tr>
  			</thead>
  			<tbody>
  				<tr>
  					<td>1</td>
  					<td>Sach 1</td>
  					<td>12</td>
  					<td>NVANH</td>
  				</tr>
  				<tr>
  					<td>1</td>
  					<td>Sach 1</td>
  					<td>12</td>
  					<td>NVANH</td>
  				</tr>
  				<tr>
  					<td>1</td>
  					<td>Sach 1</td>
  					<td>12</td>
  					<td>NVANH</td>
  				</tr>
  				<tr>
  					<td>1</td>
  					<td>Sach 1</td>
  					<td>12</td>
  					<td>NVANH</td>
  				</tr>
  				<tr>
  					<td>1</td>
  					<td>Sach 1</td>
  					<td>12</td>
  					<td>NVANH</td>
  				</tr>
  				
  			</tbody>
  		</table>
  	</div>
  </div>
{% endblock %} 