.book-list-background{
	background-color: #F1F4F5;
	flex: 1;
	height: 100%;
}

.bar-list
{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.search-frame{
	position: relative;
	width: 234px;
}

.search{
	height: 10px;
	width: 200px;
	padding: 10px 20px 10px 10px;
}

.btn-search{
	position: absolute;
	right: -10px;
	top: 0;
	height: 100%;
}


.add-book{
	outline: none;
	border: 1px solid silver;
	cursor: pointer;
}
.add-book:hover
{
	background-color: #7367F0;
	color: white;
}

.list{
	width: 97.8%;
	margin: auto;
	height: 85%;
	background-color: #fff;
	overflow-y: scroll;
}

.list table{
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
	border-radius: 10px;
}

table thead th{
	border: 1px solid silver;
	text-align: center;
	height: 40px;
}

table tbody td{
	border: 1px solid silver;
	text-align: center;
}

table tbody tr{
	height: 20px;
}

.popup-list{
	width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px #747171;
	animation: popupShow 0.4s ease-in-out;
}

@keyframes popupShow {
	from{
		transform: scale(0.2);
	}
	to{
		transform: scale(1);
	}
}

.line-input{
	padding-top: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.line-input input,textarea
{
	width: 60%;
}

.btn-bar{
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.btn-bar button + button{
	margin-left: 20px;
}

.btn-bar button{
	padding: 10px;
	margin-top: 20px;
}


.btn-grid{
	padding: 10px;
	outline: none;
	border: none;
	cursor: pointer;
}

.btn-grid a{
	display: block;
	width: 100%;
	height: 100%;
	color: black;
	text-decoration: none;
}

.btn-grid:hover
{
	background-color: #7367F0;
	color: white;
}