#navi ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	height: 100%;
	position: relative;
}

.nav-item{
	width: 100%;
	height: 15%;
	display: block;
	border-bottom: 0.5px solid #edecec;
	position: relative;
}

.nav-item .fake-a{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #678098;
	height: 100%;
}

#parrent-navi .sub-menu{
	display: none;
	position: absolute;
	width: 100%;
	background-color: #fff;
	left: 100%;
	border: 1px solid silver;
	top: 0px;
	text-align: center;
	line-height: 40px;
}

.sub-menu a{
	text-decoration: none;
}

.sub-menu-item:hover{
	background-color: silver;
}

#parrent-navi .category-menu:hover .sub-menu{
	display: block;
}

.sub-menu-item{
	width: 100%;
	height: 40px;
	position: relative;
	display: block;
}